In [1]:
START->ANACONDA PROMPT->RUN AS ADMINSTRATOR->JUPYTER NOTEBOOK
NEW->PYTHON 3

SyntaxError: invalid syntax (3877832166.py, line 1)

### Hello World

### hemanth praveen

#### Hello world

##### Helloahsbxxjah

###### DAta science

####### Data science

####### Data science

###### Data science

####### DAta science

In [2]:
print("hello world      ")

hello world

In [4]:
print("data science")

data science

In [5]:
namelist="hemanth","prem"
namelist

('hemanth', 'prem')

In [6]:
name list="hemanth"

SyntaxError: invalid syntax (66078792.py, line 1)

In [7]:
name+list="hemanth"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1373162906.py, line 1)

In [9]:
name_list="hemanth"
name_list

'hemanth'

In [10]:
name="hemanth"
name="kavya"
name

'kavya'

In [12]:
x=y=z=10
print(x)
z

10

10

In [13]:
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [14]:
name="charles"
print(name)
type(name)

charles

str

In [16]:
x=10
y=3
x/y

3.3333333333333335

In [25]:
x="abcd"
float(x)
int(x)

ValueError: could not convert string to float: 'abcd'